In [1]:
import pandas as pd

In [2]:
df_all = pd.read_pickle('df_all.pkl')
df_all

                AAPL       MSFT       AAL        WMT
Date
2010-01-29  5.864812  21.670120  5.005956  40.058247
2010-02-26  6.248348  22.150023  6.910294  40.538067
2010-03-31  7.176042  22.629034  6.929150  41.920120
2010-04-30  7.205665  22.528589  6.976287  41.837185

In [3]:
df_baseline = pd.read_pickle('df_baseline.pkl')
df_baseline

                  ^GSPC
Date
2010-01-29  1073.869995
2010-02-26  1104.489990
2010-03-31  1169.430054
2010-04-30  1178.099976

In [4]:
opt_results_df = pd.read_pickle('opt_results_df.pkl')
opt_results_df

         Date       Value AAPL MSFT AAL WMT  Variance  Returns
1  2010-04-30  999.847365  101    0  39   0   5663.13    88.25

In [5]:
price_df = pd.read_pickle('price_df.pkl')
price_df

       AAPL       MSFT       AAL        WMT
1  7.205665  22.528589  6.976287  41.837185

In [ ]:
result_df_3 = pd.read_pickle('result_df_3.pkl')
result_df_3

In [10]:
stocks = ['AAPL', 'MSFT', 'AAL', 'WMT']
budget = 1000
baseline='^GSPC'

initial_budget = budget
num_months = len(df_all)
print(f'num_month: {num_months}')
first_purchase = True
result = {}
baseline_result = {}
baseline_values = [0]
update_values = [0]
months = []

# Define dataframe to save output data
headers = ['Date', 'Value'] + stocks + ['Variance', 'Returns']
opt_results_df = pd.DataFrame(columns=headers)
row = []

price_df = pd.DataFrame(columns=stocks)

# Look at just the data up to the current month
i = 3
df = df_all.iloc[0:i+1,:].copy()
baseline_df_current = df_baseline.iloc[0:i+1,:]
print("\nDate:", df.last_valid_index())
months.append(df.last_valid_index().date())

if first_purchase:
    print(f'budget: {budget}')
    display(baseline_df_current.iloc[-1])
    baseline_shares = (budget / baseline_df_current.iloc[-1])
    print(baseline_shares)
    baseline_result.update({baseline[0]: baseline_shares})
else:
    # Compute profit of current portfolio
    budget = sum([df.iloc[-1][s]*result['stocks'][s] for s in stocks])
    update_values.append(budget - initial_budget)

    # Compute profit of fund portfolio
    fund_value = sum([baseline_df_current.iloc[-1][s]*baseline_result[s] for s in baseline])
    baseline_values.append(fund_value - initial_budget)

first_purchase = False

num_month: 4

Date: 2010-04-30 00:00:00

^GSPC    1178.099976
Name: 2010-04-30 00:00:00, dtype: float64

^GSPC    0.848824
Name: 2010-04-30 00:00:00, dtype: float64